@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}


:root {
  /* Tech Noir Base Palette - muted version */
  --background: #1a1b23;         
  --secondary-background: #0b0b0f;
  --foreground: #AFB2B6;         
  --current-line: #2a3242;       
  --comment: #4a5a73;            
  
  /* Accent colors - more saturated */
  --red: #d83f52;               
  --cyan: #89A1BE;              
  --blue: #264B64;
  --purple: #3D3B4A;            

  --orange: #e9a874;            
  --green: #49c5b7;             
  --pink: #ff6b97;              
  --yellow: #dfb06a;            
  
  /* UI Elements */
  --bar-color: var(--secondary-background);
  --darker-background: #242331;
  --darker-background-border: #202943;
  --popover-background-color: var(--secondary-background);
  --items-column-items-background-color: #15161c;
  --navigation-item-count-color: ;
  --item-cell-selected-background-color: var(--secondary-background);

  /* Accent Tints */
  --sn-stylekit-accessory-tint-color-1: var(--red);
  --sn-stylekit-accessory-tint-color-2: var(--pink);
  --sn-stylekit-accessory-tint-color-3: var(--purple);
  --sn-stylekit-accessory-tint-color-4: var(--cyan);
  --sn-stylekit-accessory-tint-color-5: var(--green);
  --sn-stylekit-accessory-tint-color-6: var(--yellow);
  
  /* Component Colors */
  --highlight-color: #5d7290;
  --sn-component-foreground-color: var(--foreground);
  --sn-component-background-color: var(--background);
  --sn-component-foreground-highlight-color: var(--highlight-color);
  --sn-component-outer-border-color: var(--comment);
  --sn-component-inner-border-color: var(--foreground);
  
  /* Status Colors */
  --sn-stylekit-shadow-color: var(--comment);
  --sn-stylekit-info-color: var(--red);
  --sn-stylekit-info-contrast-color: var(--background);
  --sn-stylekit-neutral-color: var(--cyan);
  --sn-stylekit-neutral-contrast-color: var(--foreground);
  --sn-stylekit-success-color: var(--green);
  --sn-stylekit-success-contrast-color: var(--background);
  --sn-stylekit-warning-color: var(--orange);
  --sn-stylekit-warning-contrast-color: var(--background);
  --sn-stylekit-danger-color: var(--red);
  --sn-stylekit-danger-contrast-color: var(--foreground);
  
  /* Editor Colors */
  --sn-stylekit-editor-background-color: var(--background);
  --sn-stylekit-editor-foreground-color: var(--foreground);
  --sn-stylekit-background-color: var(--background);
  --sn-stylekit-foreground-color: var(--foreground);
  --sn-stylekit-border-color: var(--darker-background-border);
  
  /* Contrast Colors */
  --sn-stylekit-contrast-background-color: var(--bar-color);
  --sn-stylekit-contrast-foreground-color: var(--foreground);
  --sn-stylekit-contrast-border-color: var(--comment);
  
  /* Secondary Colors */
  --sn-stylekit-secondary-background-color: var(--secondary-background);
  --sn-stylekit-secondary-foreground-color: var(--foreground);
  --sn-stylekit-secondary-border-color: var(--darker-background-border);
  --sn-stylekit-secondary-contrast-background-color: var(--current-line);
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground);
  --sn-stylekit-secondary-contrast-border-color: var(--foreground);
  
  /* Typography */
  --sn-stylekit-paragraph-text-color: var(--foreground);
  --sn-stylekit-monospace-font: 'Fira Code', monospace;
  
  /* Desktop Title Bar */
  --sn-desktop-titlebar-bg-color: var(--background);
  --sn-desktop-titlebar-border-color: var(--comment);
  --sn-desktop-titlebar-ui-color: var(--foreground);
  --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);
  
  /* Scrollbar */
  --sn-stylekit-scrollbar-track-border-color: var(--comment);
  --sn-stylekit-scrollbar-thumb-color: var(--cyan);
  
  /* Passive Colors */
  --sn-stylekit-grey-5: var(--highlight-color);
  --sn-stylekit-grey-4-opacity-variant: var(--current-line);
  --sn-stylekit-passive-color-4: #181d2e;
  --sn-stylekit-passive-color-4-opacity-variant: #1a20353d;
  --sn-stylekit-passive-color-3: #2d375a;
  --sn-stylekit-passive-color-5: #131724;
  
  /* Navigation */
  --navigation-item-selected-background-color: var(--sn-stylekit-secondary-contrast-background-color);
}